.header-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: auto;
  margin: auto;
  border-radius: 50%;
  /* position: absolute; */
  /* background-size: 100%; */
  /* left: 25%;
  right: 25%; */
}

.home-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media only screen and (min-width: 580px) {
  .logo {
    width: 15%;
    height: 15%;
    border-style: dotted;
    margin: 0;
    position: relative;
    top: 15px;
    left: 30px;
  }
}
