.main-background {
  background: url('/assets/Form-background.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.multiselect {
  width: max-content;
}
