<app-header></app-header>
<p>click here to get coords</p>
<button (click)="getAndSetLocation()">try me</button>

<h2>How would you like to travel?</h2>
<form #userForm="ngForm" (ngSubmit)="submitTripForm(userForm)">
  <input type="radio" id="travelType" name="travelType" value="plane" ngModel />
  <label for="plane">Plane</label>
  <input type="radio" id="travelType" name="travelType" value="train" ngModel />
  <label for="train">Train</label>
  <input type="radio" id="travelType" name="travelType" value="car" ngModel />
  <label for="car">Car</label>
  <input type="radio" id="travelType" name="travelType" value="boat" ngModel />
  <label for="boat">Boat</label>
  <input
    type="radio"
    id="travelType"
    name="travelType"
    value="bicycle"
    ngModel
  />
  <label for="bicycle">Bicycle</label>

  <h2>How many days would you like to spend?</h2>

  <select type="selector" name="travelTime" id="travelTime" ngModel>
    <option value=""></option>
    <option value="1-2">1-2</option>
    <option value="3-4">3-4</option>
    <option value="5-7">5-7</option>
    <option value="7">7+</option>
  </select>

  <h2>Do you need to find lodging?</h2>

  <select name="lodging" id="lodging" ngModel>
    <option
      *ngFor="let sleepType of lodging; index as i"
      value="{{ lodging[i] }}"
    >
      {{ sleepType }}
    </option>
  </select>
  <!-- <button>Submit</button> -->

  <h2>What are you looking to do?</h2>

  <select name="categories" id="categories" ngModel>
    <option value="discovering">Discovering</option>
    <option value="eating">Eating</option>
    <option value="going_out">Going Out</option>
    <option value="hiking">Hiking</option>
    <option value="playing">Playing</option>
    <option value="relaxing">Relaxing</option>
    <option value="shopping">Shopping</option>
    <option value="sightseeing">Sightseeing</option>
    <option value="sleeping">Sleeping</option>
    <option value="doing_sports">Sports</option>
    <option value="traveling">Traveling</option>
  </select>
  <!-- <button>Submit</button> -->

  <h2>Is there anything you don't want to see/do?</h2>

  <select name="noNoCategories" id="noNoCategories" ngModel>
    <option value="discovering">Discovering</option>
    <option value="eating">Eating</option>
    <option value="going_out">Going Out</option>
    <option value="hiking">Hiking</option>
    <option value="playing">Playing</option>
    <option value="relaxing">Relaxing</option>
    <option value="shopping">Shopping</option>
    <option value="sightseeing">Sightseeing</option>
    <option value="sleeping">Sleeping</option>
    <option value="doing_sports">Sports</option>
    <option value="traveling">Traveling</option>
  </select>
  <button>Submit</button>
</form>

<!-- <form>
  <label for="travel-type">How would you like to travel?</label>
  <input type="text" id="travel-type" name="travel-type" ngModel />
  <label for="travel-type">How would you like to travel?</label>
  <input type="text" id="travel-type" name="travel-type" ngModel />
  <label for="travel-type">How would you like to travel?</label>
  <input type="text" id="travel-type" name="travel-type" ngModel />
</form> -->
