.main-background {
  background: url("/assets/Form-background.png");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.titles {
  text-align: center;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.tag-box {
  width: max-content;
  height: 100px;
  margin: auto;
  position: relative;
  right: 15px;
  font-size: 20px;
}
.radio-btn {
  display: none;
}

.radio-btn-sec {
  display: flex;
  justify-content: space-evenly;
}
.fas {
  font-size: 35px;
}
.time-dropdown {
  width: 60%;
  margin: auto;
}
.btn:hover,
.fas:hover {
  background-color: #f38262;
  transform: translateY(1px);
}
.btn:active {
  background-color: #f38262;
}
.box:active {
  background-color: #f38262;
}

.boxSelected {
  background-color: #f38262;
}
.get-trips-btn {
  position: relative;
  bottom: 0;
  color: #ffffff;
  font-size: x-large;
  border-radius: 2rem;
  padding: 2.5%;
  border-color: #ffffff;
  /* opacity: 0.7; */
  background-color: #344d90;
  width: 42%;
}

.icon-box {
  padding: 20px;
}

.dropdown-box {
  display: flex;
  justify-content: center;
  /* width: 250px;
  align-items: center; */
}

.dropdown-box select {
  background-color: #344d90;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.dropdown-box::before {
  /* content: '\f13a';
  font-family: FontAwesome; */
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.dropdown-box:hover {
  transform: translateY(3px);
}

.dropdown-box select option {
  padding: 30px;
}
.selected-items {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  flex-direction: row;
  /* border: 2px solid #344d90;
  background-color: rgba(160, 160, 160, 0.493); */
}

.ng-star-inserted {
  border: 2px solid #344d90;
  background-color: rgba(160, 160, 160, 0.493);
}

.get-trips-div {
  display: flex;
  justify-content: center;
}

/* .selected-items {
  z-index: -2;
} */

@media only screen and (min-width: 580px) {
  .dropdown-box {
    display: flex;
    justify-content: center;
  }
  .get-trips-btn {
    width: 42%;
    bottom: 10px;
  }
  .get-trips-div {
    display: flex;
    justify-content: center;
  }
  .fas {
    font-size: 60px;
  }

  .titles {
    font-size: 30px;
  }

  .selected-items {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    flex-direction: row;
    /* border: 2px solid #344d90;
    background-color: rgba(160, 160, 160, 0.493); */
  }
  .ng-star-inserted {
    border: 2px solid #344d90;
    background-color: rgba(160, 160, 160, 0.493);
  }
}
@media only screen and (min-width: 768px) {
  .dropdown-box {
    display: flex;
    justify-content: center;
  }
  .get-trips-btn {
    width: 42%;
    bottom: 10px;
  }
  .get-trips-div {
    display: flex;
    justify-content: center;
  }
  .fas {
    font-size: 60px;
  }

  .titles {
    font-size: 35px;
  }

  .selected-items {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    flex-direction: row;
    /* border: 2px solid #344d90;
    background-color: rgba(160, 160, 160, 0.493); */
  }
  .ng-star-inserted {
    border: 2px solid #344d90;
    background-color: rgba(160, 160, 160, 0.493);
  }
}
