<main class="main-background">
  <app-header></app-header>
  <h2>How would you like to travel?</h2>
  <form class="form" #userForm="ngForm" (ngSubmit)="submitTripForm(userForm)">
    <section class="radio-btn-sec">
      <div class="box btn">
        <input
          type="radio"
          id="travelType"
          name="travelType"
          value="plane"
          class="radio-btn"
          ngModel
        />
        <label for="plane" class="plane">Plane</label>
        <i class="fas fa-plane"></i>
      </div>
      <div class="box btn">
        <input
          type="radio"
          id="travelType"
          name="travelType"
          value="train"
          class="radio-btn"
          ngModel
        />
        <label for="train" class="train">Train</label>
      </div>
      <div class="box btn">
        <input
          type="radio"
          id="travelType"
          name="travelType"
          value="car"
          class="radio-btn"
          ngModel
        />
        <label for="car" class="car"><span> Car</span></label>
        <i class="fas fa-car-side"></i>
      </div>
      <div class="box btn">
        <input
          type="radio"
          id="travelType"
          name="travelType"
          value="bicycle"
          class="radio-btn"
          ngModel
        />
        <label for="bicycle" class="bike">Bicycle</label>
      </div>
    </section>
    <h2>How long do you want to spend traveling?</h2>
    <select type="selector" name="travelTime" id="travelTime" ngModel>
      <option value=""></option>
      <option value="1">1 Hours</option>
      <option value="2">2 Hours</option>
      <option value="3">3 Hours</option>
      <option value="4">4 Hours</option>
      <option value="5">5 Hours</option>
      <option value="6">6 Hours</option>
      <option value="7">7 Hours</option>
      <option value="8">8 Hours</option>
      <option value="9">9 Hours</option>
      <option value="10">10 Hours</option>
    </select>
    <div class="multiselect">
      <ng-multiselect-dropdown
        [placeholder]="'Search for tags'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <button class="btn">Get Trips</button>
  </form>
</main>

<!-- <div class="container text-container"> -->
