<app-header></app-header>
<h2>How would you like to travel?</h2>
<form>
  <input type="radio" id="plane" name="travel-type" ngModel />
  <label for="plane">Plane</label>
  <input type="radio" id="train" name="travel-type" ngModel />
  <label for="train">Train</label>
  <input type="radio" id="car" name="travel-type" ngModel />
  <label for="car">Car</label>
  <input type="radio" id="boat" name="travel-type" ngModel />
  <label for="boat">Boat</label>
  <input type="radio" id="bicycle" name="travel-type" ngModel />
  <label for="bicycle">Bicycle</label>
</form>

<h2>How many days would you like to spend?</h2>
<form>
  <select type="selector" name="travel-time" id="travel-time">
    <option value="1-2">1-2</option>
    <option value="3-4">3-4</option>
    <option value="5-7">5-7</option>
    <option value="7">7+</option>
  </select>
</form>

<form>
  <select name="categories" id="categories" ngModel>
    <option *ngFor="let category of categories" value="{{ categories }}">
      {{ category }}
    </option>
  </select>
  <button>Submit</button>
</form>
<!-- <form>
  <label for="travel-type">How would you like to travel?</label>
  <input type="text" id="travel-type" name="travel-type" ngModel />
  <label for="travel-type">How would you like to travel?</label>
  <input type="text" id="travel-type" name="travel-type" ngModel />
  <label for="travel-type">How would you like to travel?</label>
  <input type="text" id="travel-type" name="travel-type" ngModel />
</form> -->
