.result-arrange-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 2%;
  flex-wrap: wrap;

  /* justify-content: center;
  align-items: center; */
}
.result-title-arrange {
  margin: 0px;
}
.loading {
  text-align: center;
}
.loading-gif {
  width: 50vw;
  height: auto;
  /* padding: 5rem; */
}
.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}
.card-list::-webkit-scrollbar {
  width: 100px;
  height: 20px;
  position: relative;
  bottom: 10px;
  background-color: #344d90;
}
.card-list::-webkit-scrollbar-thumb {
  background-color: #f38262;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.card-list::-webkit-scrollbar-track {
  background-color: #344d90;
}

@media only screen and (min-width: 580px) {
  /* .card-list {
    display: grid;
  } */
  .result-arrange-container {
    display: flex;
    width: 581px;
    margin: auto;
  }
}
