.container {
  display: flex;
  /* padding: 3rem; */
  align-content: center;
  justify-content: center;
}

.main-result {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 80%;
  min-width: 250px;
  padding: 1.5rem;
  border: 16px #000;
  box-shadow: 0rem 0 1.5rem #000;
  transition: 0.2s;
  overflow-y: scroll;
  border-radius: 50px;
}

.main-result::-webkit-scrollbar {
  display: none;
}

.main-result:hover {
  transform: translateY(-1rem);
}

.main-result:hover ~ .main-result {
  transform: translateX(130px);
}

.main-result:not(:first-child) {
  margin-left: -130px;
}

.title {
  margin-bottom: auto;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 30px;
}

.thumbnail {
  display: block;
  width: 75%;
  height: auto;
  border-radius: 50%;
  margin: 10px 10px;
}

@media only screen and (min-width: 580px) {
  .main-result {
    height: 650px;
    width: 450px;
  }
  .thumbnail {
    width: 275px;
    height: 275px;
  }
  .details {
    text-align: center;
    font-size: 20px;
    height: 100px;
    width: auto;
    line-height: 1.25;
  }
  .title {
    margin-bottom: 20px;
    line-height: 1.25;
  }
  .place {
    font-size: 25px;
    line-height: 1.25;
  }
}
